@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/DroidNaskh-Regular.eot');
  src: url('fonts/DroidNaskh-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/DroidNaskh-Regular.woff2') format('woff2'),
       url('fonts/DroidNaskh-Regular.woff') format('woff'),
       url('fonts/DroidNaskh-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/DroidNaskh-Bold.eot');
  src: url('fonts/DroidNaskh-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/DroidNaskh-Bold.woff2') format('woff2'),
       url('fonts/DroidNaskh-Bold.woff') format('woff'),
       url('fonts/DroidNaskh-Bold.ttf') format('truetype');
}